.a {
  width: 100%;
  height: 100%;
  background-image: url(../images/Image\ 1.png);
  background-size: cover;
}

.b {
  width: 100%;
  height: 100%;
  background-image: url(../images/Image\ 2.png);
  background-size: cover;
}

.c {
  width: 100%;
  height: 100%;
  background-image: url(../images/Image\ 3.png);
  background-size: cover;
}